body {
    margin: 0;
    text-align: center;
    background: #1F2937;
    font-family: 'Inter', sans-serif;
    
}

/* ----HEADER -Start---- */
.header{
   background: #6943FF;
   color: #ffffff;
   padding: 33px 50px;
}

#header-title{
    font-size: 28px;
   
}

#input-el{
    font-size: 58px;
    text-align: center;
    color: #ffffff;
    
    border: 1px solid white;
    padding: 4px 2pc;  
    margin: 0 auto;
    border-radius: 7px;
    width: 15%;
    
    background: #6943FF;
    display: block;
    
}

#input-el[type=number]::-webkit-inner-spin-button, 
#input-el[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
}

button{
    margin-top: 27px;
    padding: 17px 30px;
    border: none;
    border-radius: 5px;
  
    font-family: 'Inter', sans-serif;
    font-size: 25px;
    font-weight:  600;
    color: #3D3D3D;
 
}
/* ----HEADER -End---- */

/* ----MAIN -Start---- */
h4{
    color: #CCC1FF;
}
h5{
    color: #FFFFFF;
}

.main_unit-section{
    padding: 20px;
    margin:  0 23px 23px 23px;
    
    background: #273549;
    
}
/* ----MAIN -End---- */




